{% extends 'base.html.twig' %}

{% block title %}Que regarder ce soir ?{% endblock %}

{% block body %}
<h1 class='container'>Choisir un film :</h1>
<hr>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card " style="width: 20rem;">
                <h2 class="card-title m-1"> Par titre : </h2>
                {% for movie in movies %}
                    <br>
                <div class="card-index-movie"> 
                    <div class='ml-1'>
                        <li> {{movie}}</li>
                    </div>        
                    <div class='mr-1'>
                        <a class="btn btn-primary" href="{{ path('app_movie_show', {id: movie.id} ) }}"> Voir </a>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
</div>


<hr>

<div class="container mt-4">
    <div class="row">
        <div class="col-0">
            <div class="card " style="width: 20rem;">
                <h2 class="card-title m-1"> Par genre : </h2>
                {% for type in types %}
                    <br>
                    <div class="card-index-movie"> 
                        <div class='ml-1'>
                            <li> {{type}} </li>
                        </div>
                        <div>
                            <a class="btn btn-primary" href="{{ path('app_type_show', {id: type.id} ) }}"> Voir </a> <a class="btn btn-primary" href="{{ path('app_type_edit', {id: type.id} ) }}"> Edit </a> 
                        </div>
                    </div>
                
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<hr>

<div>
    <h2 >Choisir un film par acteurs : </h2>
</div>

<div>
    <h2 > Créer un nouveau Genre :  <a class="btn btn-primary" href="{{ path('app_type_new') }}"> Go ! </a></h2>
</div>
<div>
    <h2 > Créer un nouveau Film :  <a class="btn btn-primary" href="{{ path('app_movie_new') }}"> Go ! </a></h2>
</div>

{% endblock %}
